@import "utils.css";

body {
	font-family: sana-serif;
}

.block	{
	background-color:#FFD84C;
	padding: 20px;
	color:#000;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.line {
	border-bottom: 1px solid #000;
}
.nav {
	background-color: #38383A;
	padding-top: 10px;	
	padding-bottom: 10px;	
}
.slider {
	background-color: #164680;
	padding-top: 10px;	
	padding-bottom: 10px;
}

.footer {
	background-color: #38383A;
	padding-top: 20px;	
	padding-bottom: 20px;	
}

/*==========  Desktop First Method  ==========*/

/* 
По умолчанию пишем стили для больших экранов.
хх и менее
*/

/*@media only screen and (max-width : 1199px) {
}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 320px) {
}*/


/*==========  Mobile First Method  ==========*/

/* 
По умолчанию пишем стили для смартфонов.
xx и более  
*/
/*
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1200px) {
}*/